<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack.cbt.dao.MainDAO">

	<select id="cbtTestList" resultType="com.fullstack.cbt.dto.TestDTO">
		SELECT tt_idx, su_name, tt_times, mb_id, tt_end_date, tt_score, tt_status FROM cbt_subject NATURAL JOIN cbt_test ORDER BY tt_idx DESC LIMIT 5 OFFSET 0
	</select>
	
	<select id="objectionList" resultType="com.fullstack.cbt.dto.ObjectionDTO">
		SELECT a.oj_idx, b.pc_problem, a.mb_id, a.oj_date, a.oj_status FROM cbt_objection a JOIN cbt_problem_create b ON a.pc_idx = b.pc_idx ORDER BY oj_date DESC LIMIT 5 OFFSET 0
	</select>
	
	<select id="inquiryList" resultType="com.fullstack.cbt.dto.InquiryDTO">
		SELECT ib_idx, ib_subject, mb_id, ib_reg_date, ib_status FROM cbt_inquiry_board ORDER BY ib_reg_date DESC LIMIT 5 OFFSET 0
	</select>

</mapper>