<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack.cbt.dao.MemberDAO">
<select id="login" resultType="com.fullstack.cbt.dto.MemberDTO">
	SELECT mb_id
	,mb_name
	,mb_grade 
	FROM cbt_member WHERE  mb_id = #{param1} AND mb_pw = PASSWORD(#{param2})
</select>
<insert id="join" parameterType="hashmap">
	INSERT INTO cbt_member
	(mb_id
	,mb_name
	,mb_pw
	,mb_email)
	VALUES(#{mb_id},#{mb_name},PASSWORD(#{mb_pw}),#{mb_email})  	
</insert>
<select id="overlayId" parameterType="String" resultType="String">
	SELECT mb_id 
	FROM cbt_member WHERE mb_id=#{chkmb_id}
</select>

<select id="overlayEmail" parameterType="String" resultType="String">
	SELECT mb_email 
	FROM cbt_member WHERE mb_email=#{chkmb_email}
</select>

<select id="findId"  resultType="String">
	SELECT mb_id 
	FROM cbt_member 
	WHERE mb_name=#{param1}AND mb_email=#{param2} AND mb_grade = '일반회원'
</select>

<select id="isFindPw" resultType="int">
    SELECT COUNT(mb_id)  FROM cbt_member  
    WHERE mb_id=#{param1}AND mb_name=#{param2}AND mb_email=#{param3} AND mb_grade = '일반회원'
</select>

<select id="list" resultType="com.fullstack.cbt.dto.MemberDTO">
	SELECT 	
	mb_id
	,mb_name
	,mb_email
	,mb_date
	,mb_grade 
	FROM cbt_member ORDER BY mb_date DESC
</select>


<select id="adminMemberDetail" parameterType="String"
	resultType="com.fullstack.cbt.dto.MemberDTO">
		SELECT * FROM cbt_member WHERE mb_id=#{mb_id}
</select>

<insert id="update" parameterType="hashmap">
	INSERT INTO cbt_member_grade
	(mb_id
	,mg_content
	,mg_date
	,mg_grade_before
	,mg_grade_after
	,mg_id)
	VALUES (#{mb_id},#{mg_content},now(),#{mg_grade_before},#{mg_grade_after},#{loginId})
</insert>
		
<select id="gradelist" parameterType="String" resultType="com.fullstack.cbt.dto.MemberGradeDTO">
	SELECT * FROM cbt_member_grade WHERE mb_id=#{mb_id}
</select>

<update id="changeGrade" >
	UPDATE cbt_member 
	SET mb_grade = #{param1} WHERE mb_id = #{param2}
</update>
<!-- 
<select id="selectedList"  resultType="com.fullstack.cbt.dto.MemberDTO">
	SELECT * FROM cbt_member 
	WHERE 1 
<if test = "!param1.equals('')  ">
	AND mb_grade = #{param1}
</if>

<if  test = "param2.equals('') and  !param3.equals('')"> 
	AND mb_id LIKE CONCAT ('%',#{param3},'%') 
	OR mb_name LIKE CONCAT ('%',#{param3},'%') 
	OR mb_email LIKE CONCAT ('%',#{param3},'%')
</if>
<if  test = "!param3.equals('')">
	   <if test = "param2.equals('아이디')">
      		AND mb_id LIKE CONCAT ('%',#{param3},'%')
  	 </if>
  	 <if test ="param2.equals('이름')">
    	  	AND mb_name LIKE CONCAT ('%',#{param3},'%')
  	 </if>
	  <if test = "param2.equals('이메일')">
      		AND mb_email LIKE CONCAT ('%',#{param3},'%')
  	 </if>
</if>
</select>
 -->

<select id="myDetail" parameterType="String" resultType="com.fullstack.cbt.dto.MemberDTO">
    SELECT 
    mb_name
    ,mb_email 
    FROM cbt_member  WHERE mb_id = #{mb_id}
</select>

<update id="myInfoUpdate" parameterType="hashmap">
    UPDATE cbt_member SET 
    <if test="!pw.equals('')">
    	mb_pw = PASSWORD(#{pw}),
    </if> 
    mb_name = #{mb_name}
    ,mb_email = #{mb_email} 
    WHERE mb_id = #{mb_id}  AND mb_pw = PASSWORD(#{current_pw})
</update>

<update id="memberDelete">
    UPDATE cbt_member 
    SET mb_grade = '탈퇴회원' 
    WHERE mb_id = #{param1} AND mb_pw = PASSWORD(#{param2})
</update>

<insert id="memberGrade" parameterType="hashmap">
    INSERT INTO cbt_member_grade(
    mb_id
    ,mg_content
    ,mg_grade_before
    ,mg_grade_after
    ,mg_id)
    VALUES (#{mb_id} ,#{mg_content},#{mg_grade_before} ,'탈퇴회원',#{mb_id})
</insert>

<select id="getMbGrade" resultType="String">
    SELECT mb_grade FROM cbt_member WHERE mb_id = #{param1}  AND mb_pw = PASSWORD(#{param2})
</select>

<update id="pwChange">
    UPDATE cbt_member SET mb_pw = PASSWORD(#{param2}) WHERE mb_id = #{param1}
</update>

<select id="gradeCheck" resultType="String">
	SELECT mb_grade FROM cbt_member WHERE mb_id = #{param1}
</select>

<!-- 회원관리 리스트 페이징 -->
<select id="getListPaging" resultType="com.fullstack.cbt.dto.MemberDTO">
	SELECT 
	mb_id
	,mb_name
	,mb_email
	,mb_date
	,mb_grade
	FROM cbt_member ORDER BY mb_date DESC limit #{skip},10 	
</select>

<select id="getTotal" resultType="int">
	SELECT count(mb_id) FROM cbt_member
</select>
	
<select id="selectedList"  resultType="com.fullstack.cbt.dto.MemberDTO">
	SELECT * FROM cbt_member WHERE 1 
<if test = "!param1.equals('')  ">
	AND mb_grade = #{param1}
</if>

<if  test = "param2.equals('') and  !param3.equals('')"> 
	AND mb_id LIKE CONCAT ('%',#{param3},'%') 
	OR mb_name LIKE CONCAT ('%',#{param3},'%') 
	OR mb_email LIKE CONCAT ('%',#{param3},'%')
</if>
<if  test = "!param3.equals('')">
	<if test = "param2.equals('아이디')">
      	AND mb_id LIKE CONCAT ('%',#{param3},'%')
  	 </if>
  	 <if test ="param2.equals('이름')">
    	 AND mb_name LIKE CONCAT ('%',#{param3},'%')
  	 </if>
	  <if test = "param2.equals('이메일')">
      	AND mb_email LIKE CONCAT ('%',#{param3},'%')
  	 </if>
</if>
limit #{param4},10
</select>

<select id="selectedTotal" resultType="int"  >
	SELECT count(*) FROM cbt_member 
	WHERE 1 
<if test = "!param1.equals('')  ">
	AND mb_grade = #{param1}
</if>

<if  test = "param2.equals('') and  !param3.equals('')"> 
	AND mb_id LIKE CONCAT ('%',#{param3},'%') 
	OR mb_name LIKE CONCAT ('%',#{param3},'%') 
	OR mb_email LIKE CONCAT ('%',#{param3},'%')
</if>

<if  test = "!param3.equals('')">
	<if test = "param2.equals('아이디')">
   		AND mb_id LIKE CONCAT ('%',#{param3},'%')
	</if>
	<if test ="param2.equals('이름')">
 	  	AND mb_name LIKE CONCAT ('%',#{param3},'%')
	</if>
	<if test = "param2.equals('이메일')">
	   	AND mb_email LIKE CONCAT ('%',#{param3},'%')
	</if>
</if>
</select>
</mapper>