<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack.cbt.dao.ObjectionDAO">

<select id="problemDto" resultType="com.fullstack.cbt.dto.ProblemDTO">
	select pc_idx, pc_problem, pc_answer, pc_answer1,pc_answer2,pc_answer3, pc_answer4
	from cbt_problem_create where pc_idx=#{param1}
</select>


<insert id="objectionInsert" >
	insert into cbt_objection(oj_content,oj_date,oj_status,pc_idx,mb_id)
	 values(#{param1},now(),'처리대기',#{param2},#{param3})
</insert>
</mapper>